:root{
    --tipografia: Verdana, Geneva, Tahoma, sans-serif;
    --color: aliceblue;
}
*{
    margin: 0;
    
}
body{
    background-color: black;
}

.contenedor,.segundo{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 1;
}
.titulo{
    height: 200px;
    width: 67rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;
}
.spantitulo{
    font-size: xx-large;
    text-transform: uppercase;
    font-family: var(--tipografia);
    color: white;
}
.segundo{
    background-color: black;
    align-items: center;
    flex-direction: column;
    height:auto !important; 
}
.articulo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
article > p{
    margin-top: 10px;
}
article > p,article > span{
    color: white;
}
.aiconoabout{
    text-decoration: none;
    color: white;
    margin-right: 2px;
    margin-left: 2px;
}
.datosabout{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.datosaboutcontenedor{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height: auto;
    flex-direction: column;
}
.footerabout{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.datosabout span{
    color: white;
}
.footerabout > span{
    color: white;
    text-align: center;
}
.redessociales{
    margin-top: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.icono{
    width: 25px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    font-family: var(--tipografia);
    text-transform: uppercase;
}
.imagen{
    border-radius: 50%;
    max-width: 607px;
    width: 100%;
    height: auto;
}
.root span{
    color: aliceblue;
    font-family: var(--tipografia);
}
.articlecenter{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: var(--tipografia);
}
.elementonav{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--tipografia);
    color: var(--color);
    font-size: small;
}
.elementonav:hover{
    color: rgb(156, 52, 14);
}